{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block body %}
<div class="intro-head">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
              <div class="row">
                    <div class="col-6">
                    <div >
                        <br/>
                        {{ wtf.quick_form(form) }}

                    <hr class="intro-divider">
                </ul>   
                        
                    </div>
            </div>
            <div class="col-6">

              <div class="intro-head">
                <div class="container">
                    <div class="row">
                        <div class="card border-left-primary  border-right-primary  shadow py-2" style="width: 30rem;height:15rem;">
                               <center> <h4 class="form-inline">restaurant</h4> </center>
                                {% if r %}
                                    <div>
                                       <h3 class="">{{ r.nom }}</h3>
                                       <p >Adresse : {{ r.adresse }}</p>
                                       <p>Numero de telephone : {{ r.telephone }}</p>
                                    </div> 
                                    {% endif %}
                               
                                
                                <hr >
                                </ul>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            <div class="col-12 center">

                        {% if restaurant %}
                             <div class="col">
                            <div class="row">
                           {% for resto in restaurant %}
                                <div class="card border-left-primary shadow py-2" style="width: 15rem;height:10rem;">
                                  <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                      <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                            <a href="{{ url_for('home.regarder', nom=resto.nom) }}"> {{ resto.nom }} </a></font></font></div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{ resto.pays }}</font></font></div>
                                      </div>
                                      <div class="col-auto">
                                        <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                            {% endfor %}
                            
                          </div>
                        </div>
                       {% endif %}


            </div>
        </div>
        </div>
    </div>
</div>
</div>
{% endblock %}